<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <title>Kazatel</title>
    <style>
      /* Odstraníme scrollbar těla stránky */
      html,
      body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden; /* <--- tady skrýváme scrollbar těla */
      }
      iframe {
        width: 100%;
        height: 100%;
        border: none;
        display: block; /* odstraní případné mezery pod iframe */
      }
    </style>
  </head>
  <body>
    <iframe src="/kazatel.pdf"></iframe>
  </body>
</html>
