---
---

<style>
    #g-footer {
        width: 100%;
        background-color: #031a2b;
        color: white;
        padding: 3.5rem 0;
        z-index: 10;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .footer-flex {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-text,
    .footer-logo {
        width: 560px;
        padding: 16px 0 16px 15px;
    }

    .footer-text p {
        line-height: 2;
        margin: 16px 0;
    }

    .footer-text {
        text-align: left;
        font-family: 'Open Sans', Arial, sans-serif;
    }

    .footer-logo img {
        height: 50px;
    }

    @media (max-width: 768px) {
        .footer-flex {
            flex-direction: column;
            align-items: center;
        }

        .footer-text,
        .footer-logo {
            width: auto;
            padding: 1rem;
        }

        .footer-logo {
            text-align: center;
        }

        .footer-logo img {
            width: 100%;
            max-width: 350px;
            height: auto;
        }
    }
</style>

<footer id="g-footer">
    <div class="container footer-flex">
        <div class="footer-text">
            <p>
                Vysokoškolské katolické hnutí Česká republika, z.s.<br>
                Kozí 8<br>
                Brno, 602 00<br>
                IČO: 26610311<br>
                L 9486 vedená u Krajského soudu v Brně<br>
                <strong>Č. účtu: </strong>2902653384/2010
            </p>
            <p>© 2024-2026 Studentský Velehrad. Všechna práva vyhrazena</p>
        </div>

        <div class="footer-logo">
            <img src="/images/logo_b_transparent.webp" alt="Logo SV26">
        </div>
    </div>
</footer>
