---
---

<footer id="g-footer">
  <div class="container footer-flex">
    <div class="footer-text">
      <p>
        Vysokoškolské katolické hnutí Česká republika, z.s.<br />
        Kozí 8<br />
        Brno, 602 00<br />
        IČO: 26610311<br />
        L 9486 vedená u Krajského soudu v Brně<br />
        <strong>Č. účtu: </strong>2902653384/2010
      </p>
      <p>© 2024-2026 Studentský Velehrad. Všechna práva vyhrazena</p>
    </div>

    <div class="footer-logo">
      <img src="/images/logo_b_transparent.webp" alt="Logo SV26" />
    </div>
  </div>
</footer>
