---
---

<header id="g-navigation">
  <div class="header-container">
    <div class="logo">
      <a href="/" class="logo-text">Studentský Velehrad</a>
    </div>
    <nav class="main-nav">
      <ul>
        <li><a href="/tym">Tým</a></li>
        <li><a href="/registrace">Registrace</a></li>
        <li>
          <a href="https://sv24.studentskyvelehrad.cz/sv24" target="_blank" rel="noopener noreferrer"
            >Minulý ročník</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
