---
import Navigation from '../../components/Navigation.astro';
import MobileMenu from '../../components/MobileMenu.astro';
---

<!doctype html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studentsk칳 Velehrad 2026</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="preload"
      href="/fonts/Ohrada.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/HelveticaNow.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/HelveticaNowBold.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/OpenSans-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/OpenSans-Italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/OpenSans-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preload" as="image" href="/images/logo_b_transparent.webp" />
    <link rel="stylesheet" href="/styles_v1.css" />

    <style>
      .about {
        position: relative;
        z-index: 10;
        width: 100%;
        padding-top: 50px;
      }

      .accordion-item {
        margin-bottom: 0.5rem;
      }

      .accordion-body,
      .accordion-body *,
      .accordion-button,
      .accordion-button * {
        user-select: text !important;
        -webkit-user-select: text !important;
        -moz-user-select: text !important;
        -ms-user-select: text !important;
      }

      .accordion-button {
        white-space: normal !important;
        overflow: visible !important;
        text-overflow: unset !important;
        line-height: 1.4;
      }

      .accordion-item {
        margin-bottom: 0.8rem;
      }

      .about-flex {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 2rem auto;
        gap: 20px;
        padding: 0 20px;
      }

      .about-text {
        color: #424753;
        text-align: left;
        width: 900px;
        z-index: 999;
      }

      .about h2 {
        text-transform: uppercase;
        margin-bottom: 1rem;
        line-height: 1.4;
        font-size: 18px;
        color: #424753;
        letter-spacing: 1px;
        text-align: center;
        font-weight: bold;
      }

      .about p {
        margin-bottom: 1.5rem;
        font-weight: 400;
        line-height: 2;
      }

      .about-text strong {
        display: block;
        margin-bottom: 20px;
      }

      .donation-block {
        color: #424753;
      }

      .thanks-message {
        display: block;
        margin-top: 50px;
      }

      #intro h1 a {
        font-weight: bold;
        color: #007bff;
      }

      #intro p a {
        color: #007bff;
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <Navigation />
    <MobileMenu />

    <div class="content">
      <div class="nav-bar"></div>
      <div class="cover-bar"></div>

      <!-- <main> -->
      <section class="about">
        <div class="about-flex">
          <div class="about-text">
            <h2>Q&A</h2>

            <div class="accordion">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q1"
                  >
                    M콢쬿 p콏ijet jen na 캜치st setk치n칤?
                  </button>
                </h2>
                <div id="q1" class="accordion-collapse collapse">
                  <div class="accordion-body">Ano.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q2"
                  >
                    Kolik setk치n칤 stoj칤?
                  </button>
                </h2>
                <div id="q2" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Viz tabulka s cen칤kem (z치le쮂 na v칤ce faktorech).
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q3"
                  >
                    M콢쬿 p콏ijet, kdy nejsem vysoko코kol치kem?
                  </button>
                </h2>
                <div id="q3" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Ano, pokud jsi v odpov칤daj칤c칤m v캩ku.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q4"
                  >
                    M콢쬿 p콏ijet, kdy nejsem v캩콏칤c칤 nebo katol칤k?
                  </button>
                </h2>
                <div id="q4" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Ano, pokud jsi v odpov칤daj칤c칤m v캩ku.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q5"
                  >
                    Kde bude ubytov치n칤?
                  </button>
                </h2>
                <div id="q5" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    V okoln칤ch budov치ch (nap콏. Z, SGV).
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q6"
                  >
                    Chci si naj칤t ubytov치n칤 s치m, je to mo쬹칠?
                  </button>
                </h2>
                <div id="q6" class="accordion-collapse collapse">
                  <div class="accordion-body">Ne.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q7"
                  >
                    Cht캩l/a bych b칳t s kamar치dem na pokoji, je to mo쬹칠?
                  </button>
                </h2>
                <div id="q7" class="accordion-collapse collapse">
                  <div class="accordion-body">Ano.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q8"
                  >
                    Jak bude prob칤hat stravov치n칤?
                  </button>
                </h2>
                <div id="q8" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Bude zaji코t캩no v j칤deln캩. Pro ka쬯ou stravovac칤 skupinu bude
                    vyhrazen칳 캜as (sn칤dan캩, ob캩d, ve캜e콏e), pak bude bar.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q9"
                  >
                    Kde se d치 parkovat?
                  </button>
                </h2>
                <div id="q9" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Informace o parkov치n칤 budou up콏esn캩ny.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q10"
                  >
                    Kdy bude zve콏ejn캩n칳 program? / Kdy se dozv칤m, jac칤 host칠
                    p콏ijedou?
                  </button>
                </h2>
                <div id="q10" class="accordion-collapse collapse">
                  <div class="accordion-body">Viz aplikace.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q11"
                  >
                    Jak si budu vyb칤rat program?
                  </button>
                </h2>
                <div id="q11" class="accordion-collapse collapse">
                  <div class="accordion-body">P콏es aplikaci.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q12"
                  >
                    Nem치m chytr칳 telefon ani tablet, jak se m콢쬿 p콏ihla코ovat na
                    program?
                  </button>
                </h2>
                <div id="q12" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Kontaktuj organiz치tory, dohledaj칤 ti 콏e코en칤.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q13"
                  >
                    Aplikace nefunguje! Na koho se m치m obr치tit?
                  </button>
                </h2>
                <div id="q13" class="accordion-collapse collapse">
                  <div class="accordion-body">Na spr치vce aplikace 游뗵</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q14"
                  >
                    Kde se dozv칤m dal코칤 informace o setk치n칤?
                  </button>
                </h2>
                <div id="q14" class="accordion-collapse collapse">
                  <div class="accordion-body">Sleduj soci치ln칤 s칤t캩 游뗵</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q15"
                  >
                    Kdo akci p콏ipravuje?
                  </button>
                </h2>
                <div id="q15" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    T칳m v캩콏칤c칤ch vysoko코kol치k콢 a mlad칳ch pracuj칤c칤ch.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q16"
                  >
                    M콢쬿 se tak칠 n캩jak zapojit/pomoci?
                  </button>
                </h2>
                <div id="q16" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Ano, pro dobrovoln칤ky se v쬯y m칤sto najde a budeme r치di.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q17"
                  >
                    Kde si m콢쬿 koupit merch?
                  </button>
                </h2>
                <div id="q17" class="accordion-collapse collapse">
                  <div class="accordion-body">Na akci.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q18"
                  >
                    Kde prob칤h치 registrace?
                  </button>
                </h2>
                <div id="q18" class="accordion-collapse collapse">
                  <div class="accordion-body">P콏es formul치콏.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q19"
                  >
                    Kde jsou jednotliv칠 m칤stnosti?
                  </button>
                </h2>
                <div id="q19" class="accordion-collapse collapse">
                  <div class="accordion-body">(mapka)</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q20"
                  >
                    Od kdy se m콢쬿 registrovat?
                  </button>
                </h2>
                <div id="q20" class="accordion-collapse collapse">
                  <div class="accordion-body">Od ledna.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q21"
                  >
                    Neexistuje n캩jak치 sleva, kdy n치s pojede v칤ce?
                  </button>
                </h2>
                <div id="q21" class="accordion-collapse collapse">
                  <div class="accordion-body">Bohu쬰l ne.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q22"
                  >
                    Je mo쬹칠 Studentsk칳 Velehrad n캩jak finan캜n캩 podpo콏it?
                  </button>
                </h2>
                <div id="q22" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    Ano, po p콏ihl치코en칤 je mo쬹ost poslat dar p콏es QR k칩d.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    data-bs-toggle="collapse"
                    data-bs-target="#q23"
                  >
                    Cht캩l bych akci sponzorovat, na koho se m치m obr치tit?
                  </button>
                </h2>
                <div id="q23" class="accordion-collapse collapse">
                  <div class="accordion-body">Na veden칤 (sekce kontakty).</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <footer id="g-footer">
          <div class="container footer-flex">
            <div class="footer-text">
              <p>
                Vysoko코kolsk칠 katolick칠 hnut칤 캛esk치 republika, z.s.<br />
                Koz칤 8<br />
                Brno, 602 00<br />
                I캛O: 26610311<br />
                L 9486 veden치 u Krajsk칠ho soudu v Brn캩<br />
                <strong>캛. 칰캜tu:</strong> 2902653384/2010
              </p>
              <p>춸 2024-2026 Studentsk칳 Velehrad. V코echna pr치va vyhrazena</p>
            </div>

            <div class="footer-logo">
              <img src="/images/logo_b_transparent.webp" alt="Logo SV26" />
            </div>
          </div>
        </footer>
      </section>
    </div>

    <button id="scrollTopBtn" aria-label="Zp캩t nahoru"></button>
    <div class="bottom-bar"></div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script type="module" src="/script.js" defer></script>
  </body>
</html>
